{% extends 'base/base-login.html'%} {% block content %}
<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h5 class="text-gray-900">Registrate Agro Sechura SAC</h5>
            </div>
            <form class="user" method="POST" action="{{url_for('login.postLogin')}}">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="nombre" name="nombre" required  placeholder="Ingrese su usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password" name="password" required placeholder="Contraseña">
                </div>
                {% with messages=get_flashed_messages() %} 
                        {% if messages %} 
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show" id="success-alert" role="alert">
                                    <strong>{{message}}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %} 
                        {% endif %} 
                {% endwith %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit"  class="btn btn-primary btn-user btn-block" onclick="cargando('Iniciando Sesion!')">
                    Ingresar
                </button>
            </form>
            <hr>
            <div class="text-center m-1">
                <a href="/" class="btn-link">Iniciar Sesion</a> |
                <a href="/forgot-password" class="btn-link">Olvidé mi contraseña</a>
            </div>
        </div>
    </div>
</div> 
{% endblock %}

