{% extends 'base/base-gerente.html'%} {% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Descripciones de la Guia</h1>
    <button onclick="back()" class="btn btn-outline-success"> <i class="fa fa-wallet"></i> Regresar</button>
</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <div class="d-sm-flex align-items-center justify-content-between">
            <button class="btn  btn-outline-primary shadow"
                onclick="abrirModal('modalDescripcion','Registrar Descripcion')"> <i class="fa fa-plus"></i> Registrar
                Descripcion</button>
        </div>
    </div>
    <div class="card-body text-black-50">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="tableData">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Unid. Med.</th>
                        <th>Peso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%if guia.descripcion_guias%}
                    {%for descripcion in guia.descripcion_guias%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{descripcion.descripcion}}</td>
                        <td>{{descripcion.cantidad}}</td>
                        <td>{{descripcion.unidad_medida}}</td>
                        <td>{{descripcion.peso}}</td>
                        <td>
                            <p>
                                <button class="btn btn-warning mb-2" onclick="editarDescripcion({{descripcion.id}})"><i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-danger " onclick="eliminarDescripcion({{descripcion.id}})"><i
                                        class="fas fa-trash-alt"></i></button>
                            </p>
                        </td>
                    </tr>
                    {%endfor%}
                    {%else%}
                    <tr>
                        <td colspan="6" class="text-center">No hay datos disponibles</td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
        <br>
    </div>
</div>



<!-- Registrar Modal-->
<div class="modal  fade" id="modalDescripcion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" id="form">
                <input type="hidden" name="id" id="id" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md">
                                <label for="cantidad" class="col-form-label">Cantidad: </label>
                                <input type="number" name="cantidad" class="form-control" id="cantidad" autofocus>
                            </div>
                            <div class="col-md">
                                <label for="unidad_medida" class="col-form-label">Unidad Medida: </label>
                                <input type="number" name="unidad_medida" class="form-control" id="unidad_medida">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <label for="descripcion" class="col-form-label">Descripcion: </label>
                                <input type="text" name="descripcion" class="form-control" id="descripcion">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-guardar" class="btn btn-outline-info mr-3 "
                        onclick="cargando('Registrando Descripcion de Guia!!')">Registrar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



{%endblock%}

{%block scripts%}
<script src="{{ url_for('static',filename='js/secretaria/descripcion.js') }}"></script>
<script src="{{ url_for('static',filename='dist/html2pdf/html2pdf.bundle.min.js') }}"></script>
{%endblock%}