{% extends 'base/base-gerente.html'%} {% block content %}



<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h5 class="font-weight-bold text-primary">Trasportistas Registrados </h5>
            <button class="btn btn-outline-info" onclick="abrirModal('modalRegistrar')"> <i class="fa fa-id-card"></i> Registrar Transportista</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ruc</th>
                        <th>Denominacion</th>
                        <th>Nombre</th>
                        <th>Licencia</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%if list_transportista%}
                    {%for transportista in list_transportista%}
                    <tr>
                        <td>{{transportista.id}}</td>
                        <td>{{transportista.ruc}}</td>
                        <td>{{transportista.denominacion}}</td>
                        <td>{{transportista.nombres}} {{transportista.apellidos}}</td>
                        <td>{{transportista.numero_licencia}}</td>
                        <td>
                            <button class="btn btn-warning "><i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger "><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    {%endfor%}
                    {%else%}
                    <tr>
                        <td colspan="6" class="text-center">No hay datos disponibles</td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Registrar Modal-->
<div class="modal fade" id="modalRegistrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Transportista</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" id="form-user">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md">
                                <label for="ruc" class="col-form-label">RUC: </label>
                                <input type="number" name="ruc" class="form-control" id="ruc">
                            </div>
                            <div class="col-md">
                                <label for="numero_licencia" class="col-form-label">Licencia: </label>
                                <input type="text" name="numero_licencia" class="form-control" id="numero_licencia">
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <label for="denominacion" class="col-form-label">Denominacion: </label>
                                <input type="text" name="denominacion" class="form-control" id="denominacion">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <label for="nombres" class="col-form-label">Nombres: </label>
                                <input type="text" name="nombres" class="form-control" id="nombres">
                            </div>
                            <div class="col-md">
                                <label for="apellidos" class="col-form-label">Apellidos: </label>
                                <input type="text" name="apellidos" class="form-control" id="apellidos">
                            </div>
                            
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-guardar" class="btn btn-outline-info mr-3 ">Registrar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}