{% extends 'base/base-gerente.html'%}
{% block content %}
<div class="card border-left-primary shadow w-75">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {% if usuario.persona.sexo == "F" %}
                <img src="{{ url_for('static',filename='img/secretaria.jpg') }}" class="w-100" alt="logo-user">
                {%else%}
                <img src="{{ url_for('static',filename='img/capataz.jpg') }}" class="w-100" alt="logo-user">
                {%endif%}
                <br><br>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col">
                        <div class=" font-weight-bold text-primary text-uppercase">
                            Cambiar Contraseña
                        </div>
                    </div>
                </div>
                <div class="card">
                    <form method="POST" id="form" action="/verify-respuesta" onsubmit="addUser(event)"">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md">
                                        <label for="id_pregunta" class="col-form-label">Pregunta: </label>
                                        <select name="id_pregunta" class="form-control" id="id_pregunta" required>
                                            <option value="0" hidden>Seleccionar</option>
                                            {% for pregunta in usuario.preguntas%}
                                            <option value="{{pregunta.id}}">{{pregunta.pregunta}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md">
                                        <label for="respuesta" class="col-form-label">Respuesta: </label>
                                        <input type="text" name="respuesta" class="form-control" id="respuesta" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md">
                                        <label for="password" class="col-form-label">Contraseña: </label>
                                        <input type="password" name="password" class="form-control" id="password" required>
                                    </div>
                                    <div class="col-md">
                                        <label for="password2" class="col-form-label">Confirma Contraseña: </label>
                                        <input type="password" name="password2" class="form-control" id="password2" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-info mr-3 "
                                onsubmit="cargando('Verificando respuesta!!')">Verificar</button>
                            <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>



{%endblock%}