{% extends 'base/base-gerente.html'%} {% block content %}

<!-- Registrar Departamento-->
<div class="modal fade" id="modalDepartamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" id="form">
                <input type="hidden" id="id" name="id" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md">
                                <label for="nombre" class="col-form-label">Nombre: </label>
                                <input type="text" name="nombre" class="form-control" id="nombre" onfocus>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-info mr-3 " onsubmit="cargando('Registrando Cargo!!')">Registrar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        
        <div class="d-sm-flex align-items-center justify-content-between">
            <h5 class="font-weight-bold text-primary">Lista de Departamentos</h5>
            <div class="col-auto">
                <button class="btn btn-outline-info" onclick="abrirModal('modalDepartamento','Registrar nuevo Departamento')"> <i class="fa fa-plus"></i>
                    Agregar Departamento</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {% if list_departamento%}
            {% for departamento in list_departamento%}
            <div class="col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center mb-2">
                            <div class="col mr-2">
                                <div class=" font-weight-bold text-primary text-uppercase">
                                    {{departamento.nombre_departamento}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>

                        {%if departamento.provincias%}
                        <h6>Provincias</h6>
                        <hr>
                        <div class="row">
                            {%for provincia in departamento.provincias%}
                            <div class="col-md-6 mb-2">
                                <div class="card border-left-success shadow">
                                    <div class="card-body">
                                        {{provincia.nombre_provincia}}
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        {%else%}
                        <h6>Aun no hay provincias</h6>
                        {%endif%}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-warning " onclick="editarDepartamento({{departamento.id}})"  data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-outline-danger " onclick="eliminarDepartamento({{departamento.id}})" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
                        <a class="btn btn-outline-success " href="/provincia/{{departamento.id}}" >Provincias</a>
                    </div>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <h3>No se han encontrado Departamentos registrados</h3>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%}
{%block scripts%}
<script src="{{ url_for('static',filename='js/admin/departamento.js') }}"></script>
{%endblock%}