{% extends 'base/base-gerente.html'%} {% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <h5 class="font-weight-bold text-primary">Crear Departamentos</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md">
                        <label for="nombre" class="col-form-label">Nombre: </label>
                        <input type="text" name="nombre" class="form-control" id="nombre" onfocus>
                    </div>
                </div>
            </div>
            <br>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
                <div class="col-md">
                    <button type="submit" id="btn-guardar" class="btn btn-outline-info mr-3 ">Agregar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <h5 class="font-weight-bold text-primary">Lista de Departamentos</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {% if list_departamento%}
            {% for departamento in list_departamento%}
            <div class="col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center mb-2">
                            <div class="col mr-2">
                                <div class=" font-weight-bold text-primary text-uppercase">
                                    {{departamento.nombre_departamento}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>

                        {%if departamento.provincias%}
                        <h6>Provincias</h6>
                        <hr>
                        <div class="row">
                            {%for provincia in departamento.provincias%}
                            <div class="col-md-6 mb-2">
                                <div class="card border-left-success shadow">
                                    <div class="card-body">
                                        {{provincia.nombre_provincia}}
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        {%else%}
                        <h6>Aun no hay provincias</h6>
                        {%endif%}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-warning "><i class="fas fa-edit"></i></button>
                        <button class="btn btn-outline-danger "><i class="fas fa-trash-alt"></i></button>
                        <a class="btn btn-outline-success " href="/provincia/{{departamento.id}}">Provincias</a>
                    </div>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <h3>No se han encontrado Departamentos registrados</h3>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%}

{%block scripts%}

{%endblock%}