{% extends 'base/base-gerente.html'%}
{% block content %}

<div class="card border-left-primary shadow h-100 ">
    <div class="card-header">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h5 class="font-weight-bold text-primary"></h5>
            <a href="/provincia/{{provincia.id_departamento}}"><i class="fas fa-chevron-left"></i> Regresar</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class=" font-weight-bold text-primary text-uppercase">
                    Provincia : {{provincia.nombre_provincia}}
                </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-map-marker-alt fa-2x text-black-50"></i>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Registrar Distrito-->
<div class="modal fade" id="modalDistrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" id="form">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" value="">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md">
                                <label for="nombre" class="col-form-label">Nombre: </label>
                                <input type="text" name="nombre" class="form-control" id="nombre" autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-info mr-3 "
                        onclick="cargando('Registrando Distrito!!')">Registrar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        
        <div class="d-sm-flex align-items-center justify-content-between">
            <h5 class="font-weight-bold text-primary">Lista de Distritos</h5>
            <button class="btn btn-outline-info" onclick="abrirModal('modalDistrito','Registrar nuevo Distrito')"> 
                <i class="fa fa-plus"></i> Agregar Distrito
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {% if provincia.distritos%}
            {% for distrito in provincia.distritos%}
            <div class="col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center mb-2">
                            <div class="col mr-2">
                                <div class=" font-weight-bold text-primary text-uppercase">
                                    {{distrito.nombre_distrito}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-warning "  onclick="editarDistrito({{distrito.id}})" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-outline-danger "  onclick="eliminarDistrito({{distrito.id}})" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <h3>No se han encontrado Distritos registrados</h3>
            {%endif%}
        </div>
    </div>
</div>


{%endblock%}
{%block scripts%}
<script src="{{ url_for('static',filename='js/admin/distrito.js') }}"></script>
{%endblock%}