{% extends 'base/base-gerente.html'%}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Adimistrador</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Usuarios Registrados</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"># </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Ingresos (Anual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tareas
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Preguntas Pendientes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <ul class="nav nav-tabs nav-fill bg-gray-200" role="tablist">
        <li class="nav-item">
            <a class="btn btn-outline-info nav-link active" data-toggle="tab" href="#usuarios" role="tab"
                aria-controls="usuarios" aria-selected="true">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-info nav-link" data-toggle="tab" href="#menus" role="tab" aria-controls="menus"
                aria-selected="false">Menus</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-info nav-link" data-toggle="tab" href="#facturas" role="tab"
                aria-controls="facturas" aria-selected="false">Facturas</a>
        </li>
    </ul>
    <div class="tab-content p-3">
        <div class="tab-pane fade active show" id="usuarios" role="tabpanel" data-filter-list="card-list-body">

            <h3>Lista de Usuarios</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Nombres y Apellidos</th>
                        <th>Usuario</th>
                        <th>Cargo</th>
                        <th>Oficina</th>
                    </thead>
                    <tbody>
                        {%for persona in personas%}
                        {%for usuario in persona.usuarios%}
                        <tr>
                            <td>{{usuario.id}}</td>
                            <td>{{persona.nombres}} {{persona.primer_apellido}} {{persona.segundo_apellido}}</td>
                            <td>{{usuario.usuario}}</td>
                            <td>{{usuario.cargo.nombre_cargo}}</td>
                            <td>{{usuario.oficina.nombre_oficina}}</td>
                        </tr>
                        {%endfor%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="menus" role="tabpanel" data-filter-list="dropzone-previews">
            <div class="content-list">
                <h3>Menus</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>Cargo</th>
                            <th>Menu</th>
                            <th>Links</th>
                        </thead>
                        <tbody>
                            {%for menu in list_menus%}
                            <tr>
                                <td>{{menu.id}}</td>
                                <td>{{menu.cargo.nombre_cargo}}</td>
                                <td>{{menu.nombre_menu}}</td>
                                <td>
                                    {%for link in menu.links%}
                                    <span class="badge badge-info">{{link.id}} - {{link.nombre_link}}</span>
                                    {%endfor%}
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="facturas" role="tabpanel" data-filter-list="list-group-activity">
            <div class="content-list">
                <h3>Facturas</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>Factura</th>
                            <th>Cliente</th>
                            <th>Pago</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            {%for factura in facturas%}
                            <tr>
                                <td>{{factura.id}}</td>
                                <td>{{factura.numero_factura}}</td>
                                <td>{{factura.cliente.razon_social}}</td>
                                <td>{{factura.tipo_moneda.nombre_moneda}}: {{factura.total}}</td>
                                <td>{{factura.fecha_emision.strftime('%Y-%m-%d')}}</td>
                                <td>
                                    <a href="/ver_guia" class="btn btn-outline-info">ver guia</a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>


{%endblock%}