{% extends 'base/base-gerente.html'%}
{% block content %}

<div class="card border-left-primary shadow h-100 ">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class=" font-weight-bold text-primary text-uppercase">
                    Menu N° : {{menu.id}}
                </div>
            </div>
            <div class="col-auto">
                <a href="/menu" class="btn btn-outline-info"><i class="fas fa-chevron-left"></i> Regresar</a>
            </div>
        </div>
        <p>Nombre: {{menu.nombre_menu}} <br>
            Cargo: {{menu.cargo.nombre_cargo}} <br>
            Fecha Registrado: {{menu.fecha.strftime('%Y-%m-%d')}}
        </p>
    </div>
</div>
<br>
<!-- Registrar Link-->
<div class="modal fade" id="modalLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Link</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <input type="hidden" name="id_menu" value="{{menu.id}}">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md">
                                <label for="nombre" class="col-form-label">Nombre: </label>
                                <input type="text" name="nombre" class="form-control" id="nombre">
                            </div>
                            <div class="col-md">
                                <label for="link" class="col-form-label">Link: </label>
                                <input type="text" name="link" class="form-control" id="link">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-guardar" class="btn btn-outline-info mr-3 ">Registrar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h5 class="font-weight-bold text-primary">Lista de Links</h5>
            <div class="col-auto">
                <button class="btn btn-outline-info" onclick="abrirModal('modalLink')"> <i class="fa fa-plus"></i>
                    Agregar Link</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Link</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%if menu.links%}
                    {%for link in menu.links%}
                    <tr>
                        <td>{{link.id}}</td>
                        <td>{{link.nombre_link}}</td>
                        <td>{{link.link}}</td>
                        <td>
                            <button class="btn btn-warning " onclick="editarLink({{link.id}})"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger " onclick="eliminarLink({{link.id}})"><i
                                    class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    {%endfor%}
                    {%else%}
                    <tr>
                        <td colspan="4" class="text-center">No hay datos disponibles</td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>


{%endblock%}

{%block scripts%}
<script src="{{ url_for('static',filename='js/admin/link.js') }}"></script>
{%endblock%}