{% extends 'base/base-gerente.html'%}
{% block content %}

{%if cargo%}
<div class="card border-left-primary shadow h-100 ">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class=" font-weight-bold text-primary text-uppercase">
                    Cargo N° : {{cargo.id}}
                </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-user-tie fa-2x text-black-50"></i>
            </div>
        </div>
        <p>Nombre: {{cargo.nombre_cargo}} <br>
            Fecha Registrado: {{cargo.fecha.strftime('%Y-%m-%d')}}
        </p>
    </div>
</div>
<br>
{%endif%}

<!-- Registrar Menu-->
<div class="modal fade" id="modalMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Menu</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST"  >
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md">
                                <label for="nombre_menu" class="col-form-label">Nombre: </label>
                                <input type="text" name="nombre_menu" class="form-control" id="nombre_menu" required autofocus>
                            </div>
                            <div class="col-md">
                                <label for="id_cargo" class="col-form-label">Cargo: </label>
                                {%if cargo%}
                                <input type="text" class="form-control" id="id_cargo" value="{{cargo.nombre_cargo}}" readonly>
                                {%else%}
                                <select name="id_cargo" class="form-control" id="id_cargo">
                                    <option value="0" hidden>Seleccionar</option>
                                    {% for cargo in list_cargo%}
                                    <option value="{{cargo.id}}">{{cargo.nombre_cargo}}</option>
                                    {%endfor%}
                                </select>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-guardar" class="btn btn-outline-info mr-3 ">Registrar</button>
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h5 class="font-weight-bold text-primary">Lista de Menus</h5>
            <button class="btn btn-outline-info" onclick="abrirModal('modalMenu')"> <i class="fa fa-plus"></i> Agregar Menu</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {%for menu in list_menu%}
            <div class="col-md-6 mb-2">
                <div class="card border-left-success shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class=" font-weight-bold text-primary text-uppercase">
                                    {{menu.nombre_menu}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tie fa-2x text-black-50"></i>
                            </div>
                        </div>
                        Cargo : {{menu.cargo.nombre_cargo}}
                        <hr>
                        Links: <br>
                        {%for link in menu.links%}
                        <span class="badge badge-info m-1">{{link.id}} - {{link.nombre_link}}</span>
                        {%endfor%}
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-warning "><i class="fas fa-edit"></i></button>
                        <button class="btn btn-outline-danger "><i class="fas fa-trash-alt"></i></button>
                        <a class="btn btn-outline-success " href="/link/{{menu.id}}">Link</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}