{% macro mostrar_guia(guia)%}

<div id="div-imprimir">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <img src="{{ url_for('static',filename='img/logo-productos.jpg') }}"
                        style="max-width: 100%; max-height: 100%;" alt="icono">
                </div>
                <div class="col-8">
                    <h4 >CORPORACIÓN AGROSECHURA PERÚ S.A.C.</h3>
                </div>
            </div>
            <div class="text-center">
                <strong>Calle Los Pinos N°414 Simbilá - Catacaos - Piura </strong>
                <br>
                <strong> Cel. 969220406</strong>
            </div>
            <div class="card border-dark p-1 col-6">
                <div class="row">
                    <div class="col-auto">
                        Fecha de Inicio <br> del Traslado :
                    </div>
                    <div class="col">
                        {{guia.fecha_inicio.strftime('%Y-%m-%d')}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark">
                <h5 class="text-center m-2">R.U.C. 20392464817</h5>
                <div class="bg-primary ">
                    <h5 class="m-2 text-center font-weight-bold text-black-50">GUIA DE REMISION <br> REMITENTE</h5>
                </div>
                <p class="m-2">00{{guia.oficina.id}} - <label class="text-danger">N° {{guia.id}}</label></p>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col">
            <div class="card border-dark p-1 ">
                Destinatario: {{guia.factura.cliente.razon_social}}
            </div>
            <div class="card border-dark p-1 ">
                {{guia.factura.cliente.tipo_documento}} : {{guia.factura.cliente.numero_documento}}
            </div>
        </div>
        <div class="col">
            <div class="card border-dark p-1 ">
                <div class="row">
                    <div class="col-auto">
                        Punto de Partida :
                    </div>
                    <div class="col">
                        {{guia.oficina.direccion}} - {{guia.oficina.distrito.nombre_distrito}} -
                        {{guia.oficina.distrito.provincia.nombre_provincia}} -
                        {{guia.oficina.distrito.provincia.departamento.nombre_departamento}}
                    </div>
                </div>

            </div>
            <div class="card border-dark p-1 ">
                <div class="row">
                    <div class="col-auto">
                        Punto de Llegada :
                    </div>
                    <div class="col">
                        {{guia.punto_destino}}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <strong>MOTIVO DEL TRASLADO : </strong> {{guia.motivo_traslado.nombre_motivo}}
    <br><br>
    <div class="card border-dark">
        <table border="1" class="table-sm">
            <thead>
                <tr class="bg-primary text-center">
                    <th> DESCRIPCION</th>
                    <th>CANTIDAD</th>
                    <th>UNI. MED.</th>
                    <th>PESO</th>
                </tr>
            </thead>
            <tbody>
                {%if guia.descripcion_guias%}
                {%for descripcion in guia.descripcion_guias%}
                <tr>
                    <td> {{descripcion.descripcion}}</td>
                    <td> {{descripcion.cantidad}} </td>
                    <td> {{descripcion.unidad_medida}} </td>
                    <td> {{descripcion.peso}} </td>
                </tr>
                {%endfor%}
                {%else%}
                <tr>
                    <td colspan="4" class="text-center">No hay descripciones registradas</td>
                </tr>
                {%endif%}
                <tr>
                    <td> <label> </label></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4"> <strong>N° Fac. </strong> {{guia.factura.numero_factura}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card border-dark">
                <div class="bg-primary p-1">
                    Datos del Trasportista
                </div>
                <hr class="border-dark m-0">
                <div class="p-1">
                    RUC : {{guia.transportista.ruc}}
                </div>
                <hr class="border-dark m-0">
                <div class="p-1">
                    Denominacion : {{guia.transportista.denominacion}} <br>
                    Nombres : {{guia.transportista.nombres}} {{guia.transportista.apellidos}}
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-dark">
                <div class="bg-primary p-1">
                    Datos del Vehiculo
                </div>
                <hr class="border-dark m-0">
                <div class="p-1">
                    Marca : {{guia.vehiculo.marca_vehiculo}} <br>
                    Placa : {{guia.vehiculo.placa_vehiculo}} <br>
                    Licencia : {{guia.transportista.numero_licencia}}
                </div>
            </div>
        </div>
    </div>
</div>

{%endmacro%}
